<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="richTextBox" xsi:type="RichTextBox" controlName="logBox" formName="LogView" layout="${date:format=MM\-dd\-yyyy - HH\:mm\:ss\:fff} >>> ${message}" useDefaultRowColoringRules="true">
    <row-coloring condition="contains(message,'DTC:')" backgroundColor="Thistle" />
    <row-coloring condition="contains(message,'UDS:')" backgroundColor="MistyRose" />
    <row-coloring condition="contains(message,'NRC')" backgroundColor="LightCoral" />
    <row-coloring condition="contains(message,'Tx Failed')" backgroundColor="Orange" />
    <row-coloring condition="contains(message,'Configuration Loaded OK!')" backgroundColor="DarkKhaki" />
    <row-coloring condition="contains(message,'Success')" backgroundColor="DarkSeaGreen" />
    <row-coloring condition="contains(message,'Bootloader ->')" backgroundColor="Thistle" />
    <row-coloring condition="contains(message,'Response Pending')" backgroundColor="MistyRose" />
    <row-coloring condition="contains(message,'DEBUG')" backgroundColor="Yellow" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="richTextBox" />    
  </rules>
</nlog>
